/* Rewritten by https://randomuser691337.vercel.app, DO NOT LET BRYN COOK 😭 */
:root {
    /* Font size selector, changes sizes of links, text, etc. */
    --fontsize: 18px;
    /* Bigger font size */
    --bigfontsize: 22px;
    /* Small font */
    --smfontsize: 14px;
    /* Accent color for buttons and links on site */
    --accent: #4455EE;
    /* It's giving webdesk */
    --lightdark: #1a1a1a;
    --lightdark2: #2a2a2a;
    --lightdarkp: #000000;
    --font: #fff;
    --d: #ddd;
}

@font-face {
    font-family: 'roboto';
    /* URL to normal font, right now it's roboto, change SRC to change font but DO NOT change the font-family */
    src: url('./rm.ttf');
}

@font-face {
    font-family: 'robotob';
    /* URL to bold font, right now it's roboto, change SRC to change font but DO NOT change the font-family */
    src: url('./rb.ttf');
}


body {
    background-color: var(--lightdarkp);
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: var(--fontsize);
}

.bold {
    font-family: 'robotob', sans-serif;
}

h1 {
    color: var(--accent);
    padding: 8px;
    margin: 0px;
}

a {
    color: var(--accent);
    font-size: var(--fontsize);
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    color: #ccc;
}

a:active {
    color: #888;
}

button {
    background-color: var(--accent);
    width: 80%;
    box-sizing: border-box;
    text-align: center;
    font-size: var(--fontsize);
    border-radius: 8px;
    font-family: 'roboto', sans-serif;
    padding: 8px;
    margin-bottom: 3px;
    border: none;
    color: var(--font);
    cursor: pointer !important;
}

button:hover {
    opacity: 80%;
}

button:active {
    opacity: 60%;
}

#jump {
    position: fixed;
    right: 6px;
    bottom: 6px;
    background-color: var(--lightdark);
    padding: 6px;
    border: 1px solid var(--lightdark2);
    color: var(--font);
    cursor: pointer;
    transition: 0.02s;
    display: none;
    border-radius: 8px;
    animation: ok 1s;
}

#jump:hover {
    background-color: var(--lightdark2);
    border: 1px solid #3a3a3a;
}

#jump:active {
    background-color: #3a3a3a;
    border: 1px solid #4a4a4a;
}

@keyframes ok {
    0% {
        opacity: 0%;
    }

    30% {
        opacity: 30%;
        padding: 80px;
    }

    100% {
        opacity: 100%;
        padding: 8px;
    }
}

#nav {
    position: sticky;
    left: 6px;
    right: 6px;
    top: 6px;
    padding: 9px;
    border-radius: 14px;
    background-color: var(--lightdark);
    overflow: auto;
    border: 1px solid var(--lightdark2);
    color: var(--font);
}

#content,
#reader {
    position: absolute;
    text-align: center;
    margin-top: 8px;
    left: 6px;
    right: 6px;
    overflow: auto !important;
}

#reader {
    padding-bottom: 45px;
}

.big {
    font-size: var(--bigfontsize);
    color: var(--accent);
}

.sm {
    font-size: var(--smfontsize);
    color: var(--accent);
}


p {
    font-size: var(--fontsize);
    padding: 4px;
    margin: 0px;
    color: var(--font);
}

img {
    border: 1px solid var(--lightdark2);
    height: auto;
    border-radius: 10px;
    max-width: 83%;
}

.right {
    margin-left: auto;
    /* pushes "tbclock" to the right */
}

::-webkit-scrollbar-track {
    background: #3a3a3a;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--lightdark);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

::-webkit-scrollbar-thumb:active {
    background: #555;
}

.color-button {
    width: 20px;
    height: 20px;
    margin-right: 2px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#button1 {
    background-color: #ee2222;
}

#button2 {
    background-color: #ff7f00;
}

#button3 {
    background-color: #ddcc00;
}

#button4 {
    background-color: #22dd22;
}

#button5 {
    background-color: #4455EE;
}

#button6 {
    background-color: #4b009f;
}

#button7 {
    background-color: #9400d3;
}